<center><h1><%= @topic.title %></h1></center>
<center><%= link_to "Edit", edit_topic_path(@topic), class: 'btn btn-success' %> <%= link_to "Delete", @topic, method: :delete, class: 'btn btn-danger' %></center>
<br>
<%= link_to "Add new bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %> 
<br>
<br>
<div class="row">
  <div class="col-md-8">
    <% @bookmarks.each do |bookmark| %>  
        <div>
          <%= link_to bookmark.url, bookmark.url, :target => '_blank' %> 
            <% if policy(bookmark).edit? %>
              <%= link_to "Edit", edit_topic_bookmark_path(@topic, bookmark), class: 'btn btn-success' %> 
              <%= link_to "Delete", bookmark.topic, method: :delete, class: 'btn btn-danger' %>
            <% end %>
        </div>
      <% end %>
    </div>
</div>